// Define variables for your color scheme

// For example:
$red: #E7455E;
$blue: #253B69;
$yellow: #E2C044;
$orange: #F79256 ;
$green: #87D68D;
$gray: #9FB1BC;
$light-gray: #e6e6e6;
$white: white;
$black: black;
