// Define variables for your color scheme

// For example:
$red: #d23333;
$blue: #2E5266;
$yellow: #E2C044;
$orange: #F79256 ;
$green: #87D68D;
$gray: #9FB1BC;
$light-gray: #e6e6e6;
$white: white;
$black: black;
